{% load static %}
<html>
<head>
      <title>
          Editar datos
      </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="shortcut icon" href=" {% static 'nums/favicon.ico.png' %}" type="image/x-icon">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <script>
         var act =[];
      </script>
      <script type="text/javascript">
          $(document).ready(function(){
              $('[data-toggle="tooltip"]').tooltip();
              var actions = $("table td:last-child").html();});
          function agregarNumero(){
            aux = document.getElementById("Nuevo");
            $(aux).attr("disabled", "disabled");
            var actions = $("table td:last-child").html();
        		var index = $("table tbody tr:last-child").index();
            var num_id = 0;
            $.ajax({
               type: 'GET',
               url: '/add/',
               dataTyoe: 'text',
               success: function(response){
                 num_id = response;
                 var row = '<tr><td id=' + num_id + '><input type="text" class="form-control" id="0-' + num_id + '"></td>' +
                         '<td><input type="text" class="form-control" id="1-' + num_id + '"></td>' +
                         '<td><span class="add" data-toggle="tooltip"><button type="button" class="btn btn-success btn-sm" onclick="guardarNumero(' + num_id + ')">Hecho</button></span> ' +
                         '<span class="edit" data-toggle="tooltip"><button type="button" class="btn btn-warning btn-sm" onclick="editarNumero(' + num_id +',0,0)">Editar</button></span> ' +
                   '<span class="delete"><button type="button"' +
                     'class="btn btn-danger btn-sm" onclick="eliminarNumero(' + num_id + ')">Eliminar</button></span></td></tr>';
                 	//$("table").preappend(row);
                $('table > tbody > tr:first').before(row)
             		$("table tbody tr").eq(0).find(".add, .edit").toggle();
                $('[data-toggle="tooltip"]').tooltip();
                //window.scrollTo(0,document.body.scrollHeight);
               }
             });
          }
          function eliminarNumero(num_id) {
            aux1 = document.getElementById(num_id);
            $(aux1).parents("tr").remove();
            $.ajax({
               url: '/delete/',
               //data: {'num_id':num_id, 'num': numEditable, "abrev": abrevEditable, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               data: { "num_id" : num_id,
                       "csrfmiddlewaretoken" : '{{ csrf_token }}',
               },
               method: 'post'
             }).done(function(response){
               console.log(response);
             });
            $(boton_nuevo).removeAttr("disabled");
          }
          function editarNumero(num_id,num,abrev) {
            var ind = 0;
            act.push({"num_id":num_id,"num":num,"abrev":abrev})
            aux1 = document.getElementById(num_id);
            $(aux1).parents("tr").find("td:not(:last-child)").each(function(){
              $(this).html('<input type="text" id="' + ind + '-' + num_id + '" class="form-control" value="' + $(this).text() + '">');
              ind = ind + 1;
            });
            $(aux1).parents("tr").find(".add, .edit").toggle();
          }
          function guardarNumero(num_id) {
            //var csrftoken = $('[name="csrfmiddlewaretoken"]').val();
            aux1 = document.getElementById(num_id);
            boton_nuevo = document.getElementById("Nuevo");
            var input = $(aux1).parents("tr").find('input[type="text"]');
            var empty = false;
            input.each(function(){
            if(!$(this).val()){
              $(this).addClass("error");
              empty = true;
            } else{
                      $(this).removeClass("error");
                  }
            });
            if (empty) {
              return;
            }
            num = document.getElementById("0-" + num_id).value;
            abrev = document.getElementById("1-" + num_id).value;
            if(!abrev.startsWith('*')){
              abrev = '*' + abrev;
            }
            $.ajax({
               url: '/edit/',
               //data: {'num_id':num_id, 'num': numEditable, "abrev": abrevEditable, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               data: { "num_id" : num_id,
                       "num" : num,
                       "abrev" : abrev,
                       "csrfmiddlewaretoken" : '{{ csrf_token }}',
                     },
               method: 'post'
             }).done(function(response){
               if(response=="Actualizado" || response == "Creado"){
              		if(!empty){
                    i = 0;
              			input.each(function(){
                      if(i!=0){
                        $(this).parent("td").html(abrev);
                      }else{
              				  $(this).parent("td").html($(this).val());
                      }
                      i = i + 1;
              			});
                  console.log(response)
              		}
                  if(response == "Creado"){
                    if($("#myAlert").find("div#myAlert2").length==0){
                      $("#myAlert").append("<div class='alert alert-success alert-dismissable' style='height:45px;' id='myAlert2'> <button type='button' class='close' data-dismiss='alert'  aria-hidden='true'>&times;</button> <p style='font-size: 16px; text-align: center;'>Elemento creado correctamente</div>");
                    }
                    $("#myAlert").css("display", "");
                  }
                }
                else{
                  window.alert(response);
                  var found = act.find(function(element) {
                    return element["num_id"] == num_id;
                  });
              		input[0].value = found["num"];
                  input[1].value = found["abrev"];
                  input.each(function(){
                    $(this).parent("td").html($(this).val());
                  });
                }
                act = act.filter( el => el.num_id !== num_id);
                $(aux1).parents("tr").find(".add, .edit").toggle();
             });
             $(boton_nuevo).removeAttr("disabled");
          }
      </script>
      <style>
          /* Remove the navbar's default margin-bottom and rounded borders */
          .navbar {
            margin-bottom: 0;
            border-radius: 0;
            width: 100%;
            background: #9aca3c;
            position: fixed;
          }

         .mi-fuente {
           font-family: 'Ubuntu';
           font-style:  normal;
           font-size: 18px;"
         }


          /* Set height of the grid so .sidenav can be 100% (adjust as needed)*/
          .row.content {
            height: 600px
          }

          table.table td .add {
        		display: none;
        	}

          /* Set gray background color and 100% height */
          .sidenav1 {
            padding-top: 20px;
            background-color: #f0f0f0;
            height: 100%;
            position: fixed;
            top: 100;
            right: 0;

          }
          .sidenav2 {
            padding-top: 20px;
            background-color: #f0f0f0;
            height: 100%;
            position: fixed;
            top: 100;
            left: 0;
          }

          /* Set black background color, white text and some padding */
          footer {
            background-color: #555;
            color: white;
            padding: 15px;
          }

          table.table .form-control.error {
        		border-color: #f50000;
        	}

          /* On small screens, set height to 'auto' for sidenav and grid */
          @media screen and (max-width: 767px) {
            .sidenav {
              height: auto;
              padding: 15px;
            }
            .row.content {height:auto;}
          }
  </style>
</head>
<body>
    <nav class="navbar navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <img src=" {% static 'nums/logo_gba_footer.svg' %}" class="img-fluid" width="220">
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-2">
          <!-- Aca van los links a la izquierda-->
        </div>
        <div class="col-sm-8"  style="font-family: 'Ubuntu'">
          <br><br><br><br><br><br><br>
          <div class="table-title" style="padding-bottom: 10px; margin: 0 0 10px;">
            <div class="row">
              <div class="col-sm-3" style="margin: 6px 0 0;"><h2>Base de datos:</h2></div>
              <div class="col-sm-6">
                <!-- <div class="alert alert-success alert-dismissable" style="display:none; width:80%; height:40px;" id="myAlert"> -->
                <div class="container" style="width: 80%;display:none;" id="myAlert">
                    <div class="alert alert-success alert-dismissable" style="height:45px;" id="myAlert2">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <p style="font-size: 16px; text-align: center;">Elemento creado correctamente</p>
                    </div>
                </div>
              </div>
              <div class="col-sm-3"><button type="button" id="Nuevo"
                class="btn btn-info" style="float: right; margin-right: 70px; margin-top: 25px; line-height: 25px; min-width: 100px;" onclick="agregarNumero()">Agregar</button></div>
            </div>
          </div>
          <table id="miTabla" class="table table-bordered table-editable">
              <thead>
                <tr>
                    <th width="45%">Número</th>
                    <th width="35%">Abreviado</th>
                    <th width="20%">Acción</th>
                </tr>
              </thead>
              <tbody>
                {% for num_id,num,abrev in nums %}
                {% csrf_token %}
                  <tr>
                    <td id='{{ num_id }}' class="num">{{ num }}</td>
                    <td class="abrev">{{ abrev }}</td>
                    <td>
                      <span class="add" data-toggle="tooltip"><button type="button"
                        class="btn btn-success btn-sm" onclick="guardarNumero('{{ num_id }}')">Hecho</button></span>
                      <span class="edit" data-toggle="tooltip"><button type="button"
                        class="btn btn-warning btn-sm" onclick="editarNumero('{{ num_id }}','{{ num }}', '{{ abrev }}')">Editar</button></span>
                      <span class="delete"><button type="button"
                        class="btn btn-danger btn-sm" onclick="eliminarNumero('{{ num_id }}')">Eliminar</button></span>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
          <br>
          <br>
          <br>
        </div>
        <div class="col-sm-2 sidenav2" align="center">
            <a type="button" href="/" class="btn btn-light" style="font-family: 'Ubuntu'">Inicio</a>
            <br>
            <a type="button" href="/load" class="btn btn-light" style="font-family: 'Ubuntu'">Carga masiva</a>
            <br>
            <br>
            <br>
            <li><a href="{% url 'logout' %}">Salir</a></li>
        </div>
      <footer class="navbar-fixed-bottom text-center" style="background-color: #444;">
        <p style="font-size: 14px; font-family: 'Ubuntu';">Dirección Provincial de Telecomunicaciones -  Diagonal 74 1366, La Plata</p>
      </footer>
      </div>
    </div>
</body>
</html>
